.loader__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999999999;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__loader {
    height: 12vh;
    width: auto;
    opacity: 0;
    animation-name: loader__show-element;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    will-change: opacity;
}

@keyframes loader__show-element {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 550px) {
    .loader__loader {
        transform: scale(.6);
        -webkit-transform: scale(.6);
        will-change: transform;
    }
}
