.bgbutton__container {
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    align-self: center;
    cursor: pointer;
}

.bgbutton__blue {
    background-color: #0068A5;
    align-self: flex-start;
}
