.isocontainer__iso-icon {
    height: 80px;
    width: auto;
    margin-left: 34px;
    margin-right: 10px;
    display: inline-block;
}

.isocontainer__row {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    color: #ffffff;
    font-display: swap;
    font-size: 16px;
}
.isocontainer__row:hover {
    text-decoration-color: #ffffff;
}

.isocontainer__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media only screen and (max-width: 1030px) {
    .isocontainer__iso-icon {
        margin-left: 13px;
        margin-right: -12px;
        transform: scale(.8);
        will-change: transform;
    }
    .isocontainer__text-container {
        transform: scale(.8);
        will-change: transform;
    }
    .isocontainer__row {
        margin-right: 5px;
    }
}
