.textbox__container {
    width: 100%;
    height: 100%;
    position: relative;
}

.textbox__separator {
    height: 6px;
    width: 10%;
    background-color: #0068A5;
    margin-top: 50px;
}

.textbox__hover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
    z-index: -1;
    object-fit: cover;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.textbox__hover-image-visible {
    opacity: 1;
}
