.home__equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.home__column-padding {
    margin-top: 30px !important;
    /* padding-left: 0 !important; */
}

.home__nav-bar-waypoing {
    width: 100vw;
    height: 100vh;

    background-color: rebeccapurple;
    position: absolute;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 880px) {
    .home__stats-container {
        display: none;
    }
}


/* .home__column-padding:nth-child(even) {
    padding-right: 0 !important;
} */

/* @media only screen and (max-width: 767px) {
    .home__column-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
} */
