.products__benefits-box {
    width: 20vw;
    height: 20vw;
    max-height: 320px !important;
    max-width: 320px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

.products__benefits-box:nth-child(even) {
    background-color: #E6E6E6;
}
.products__benefits-box:nth-child(5) {
    background-color: #E6E6E6;
}
.products__benefits-box:nth-child(6) {
    background-color: #F0F0F0;
}
.products__benefits-box:nth-child(7) {
    background-color: #E6E6E6;
}
.products__benefits-box:nth-child(8) {
    background-color: #F0F0F0;
}

.products__product-galery-container {
    width: 100%;
    align-items: center;
    display: flex;
}

.products__product-galery-call-to-action {
    display: flex;
    width: 49%;
    padding-right: 10%;
}

.products__small-line {
    width: 7%;
    height: 6px;
    margin-right: 15px;
    margin-top: 10px;
    background-color: #0068A5;
}

@media only screen and (max-width: 991px) {
    .products__benefits-box:nth-child(even) {
        background-color: #E6E6E6 !important;
    }
    .products__benefits-box:nth-child(odd) {
        background-color: #F0F0F0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .products__benefits-box:nth-child(1) {
        background-color: #F0F0F0 !important;
    }
    .products__benefits-box:nth-child(2) {
        background-color: #E6E6E6 !important;
    }
    .products__benefits-box:nth-child(3) {
        background-color: #E6E6E6 !important;
    }
    .products__benefits-box:nth-child(4) {
        background-color: #F0F0F0 !important;
    }
    .products__benefits-box:nth-child(7) {
        background-color: #E6E6E6 !important;
    }
    .products__benefits-box:nth-child(8) {
        background-color: #F0F0F0 !important;
    }
}

@media only screen and (max-width: 575px) {
    .products__benefits-box:nth-child(even) {
        background-color: #E6E6E6 !important;
    }
    .products__benefits-box:nth-child(odd) {
        background-color: #F0F0F0 !important;
    }
    .products__benefits-box {
        max-width: 999999px !important;
        min-height: 100px !important;
    }
}

@media only screen and (max-width: 925px) {
    .products__product-galery-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .products__product-galery-call-to-action {
        margin-bottom: 30px;
        width: 100%;
    }
    .products__small-line {
        width: 50px;
    }
}
