.recycled__header-container {
    position: relative;
    width: 100vw;
    height: auto;
}

.recycled__header-image {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.recycled__header-top {
    width: 100vw;
    height: 100vh;
    max-width: 1600px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    will-change: transform;
}

.recycled__iso-container {
    width: 100%;
    position: absolute;
    bottom: 40px;
}

.recycled__header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    will-change: transform;
    width: 80%;
    text-align: center;
}

.recycled__step-1-container {
    width: 100vw;
    height: auto;
    position: relative;
}

.recycled__step-1-title {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    display: flex;
    justify-content: center;
}

.recycled__flame-icon {
    height: 70px;
    width: auto;
    margin-left: 30px;
}

.recycled__pyrolysis {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.recycled__pyrolysis-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.recycled__step-2-bg {
    background-color: #F8F9FD;
    display: flex;
    justify-content: center;
}

.recycled__shredded-plexiglass {
    width: 100vw
}

.recycled__step-3-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.recycled__step-3-content-container {
    position: absolute;
    bottom: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.recycled__call-to-action {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recycled__call-to-action-inner {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.recycled__header-image-lg {
    display: block;
}
.recycled__header-image-md {
    display: none;
}
.recycled__header-image-sm {
    display: none;
}
.recycled__header-image-xs {
    display: none;
}

.recycled__shredded-image-lg {
    display: block;
}
.recycled__shredded-image-sm {
    display: none;
}


@media only screen and (max-width: 1030px) {
    .recycled__header-image-lg {
        display: none;
    }
    .recycled__header-image-md {
        display: block;
    }
    .recycled__header-image-sm {
        display: none;
    }
    .recycled__header-image-xs {
        display: none;
    }
    .recycled__iso-container {
        bottom: 20px;
    }
}
@media only screen and (max-width: 820px) {
    .recycled__header-image-lg {
        display: none;
    }
    .recycled__header-image-md {
        display: none;
    }
    .recycled__header-image-sm {
        display: block;
    }
    .recycled__header-image-xs {
        display: none;
    }
    .recycled__shredded-image-lg {
        display: none;
    }
    .recycled__shredded-image-sm {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .recycled__pyrolysis {
        margin-top: 40px;
    }
    .recycled__flame-icon {
        display: none;
    }
}
@media only screen and (max-width: 520px) {
    .recycled__header-image-lg {
        display: none;
    }
    .recycled__header-image-md {
        display: none;
    }
    .recycled__header-image-sm {
        display: none;
    }
    .recycled__header-image-xs {
        display: block;
    }
}
