.dataindicator__container {
    width: 100%;
    height: 5px;
    background-color: #E5E5E5;
    position: relative;
}

.dataindicator__text-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dataindicator__year-text {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px;
    font-display: swap;
    line-height: normal;
    margin-bottom: 8px !important;
}

.dataindicator__amount-text {
    font-family: 'Archivo', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px;
    font-display: swap;
    line-height: normal;
    margin-bottom: 8px !important;
}

.dataindicator__filler {
    position: absolute;
    height: 5px;
    left: 0;
    top: 0;
    width: 0;
    background-color: #0068A5;
    transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

