.homeheader__container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.homeheader__navbar-container {
    display: flex;
    justify-content: space-between;
}

.homeheader__content-container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeheader__logo {
    width: 230px;
    height: auto;
    display: block;
    align-self: flex-start;
}

.homeheader__iso-container {
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .homeheader__logo {
        width: 180px;
    }
}

@media only screen and (max-width: 850px) {
    .homeheader__links-container {
        display: none;
    }
}

@media only screen and (max-width: 810px) {
    .homeheader__iso-container {
        visibility: hidden;
    }
}
