.statscomponent__container {
    width: 100%;
    height: 40vh;
    margin-top: 40px;
    display: flex;
    border: #E5E5E5 solid 1px;
}

.statscomponent__stat-container {
    height: 100%;
    width: 70px;
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #0068A5;
    border-right: 1px solid #ffffff;
}

.statscomponent__stat-container-selected {
    background-color: #ffffff !important;
    border: 0 !important;
}

.statscomponent__stat-container-separator {
    width: 3px;
    height: 9%;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    will-change: transform;
    background-color: #ffffff;
}

.statscomponent__stat-container-separator-selected {
    background-color: #0068A5 !important;
}

.statscomponent__data-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-start;
}

.statscomponent__data-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.statscomponent__data-charts-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
