.fc__container {
    margin-top: 30px;
}

.fc__row {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.fc__image-container {
    width: 100%;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 40px;
    position: relative;
}

.fc__city-time-container {
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.fc__styler {
    width: 40px;
    height: 6px;
    background-color: #0072BC;
    margin-top: 40px;
    margin-bottom: 20px;
}