.footer__links-container {
    margin-top: 30px;
}

.footer__bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}

.footer__logo {
    height: 20px;
    width: auto;
}

.footer__bottom-bar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__rootnode-container {
    display: flex;
}

@media only screen and (max-width: 576px) {
    .footer__bottom-bar {
        flex-direction: column;
        align-items: flex-start;
    }
}