.historynavigator__container {
    width: 10%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    z-index: 1;
}

.historynavigator__visible {
    opacity: 1;
}

.historynavigator__container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historynavigator__vertical-line {
    width: 1px;
    height: 5vh;
    background-color: #8A98A7;
    margin-bottom: 5px;
    margin-top: 5px;
}

.historynavigator__vertical-line-highlight {
    background-color: #2D3C4D;
}
