.yearsection__container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.yearsection__year-digit {
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    line-height: normal;
    white-space: normal;
    text-shadow: 1px 0 0 rgba(0, 104, 165, .5), 0 -1px 0 rgba(0, 104, 165, .5), 0 1px 0 rgba(0, 104, 165, .5), -1px 0 0 rgba(0, 104, 165, .5);
    font-size: 32vw;
    font-display: swap;
    letter-spacing: 1vw;
}

.yearsection__container-inner {
    position: relative;
}

.yearsection__content-container {
    width: 100%;
    margin-top: -16%;
}

@media screen and (min-width: 1600px) {
    .yearsection__year-digit {
        font-size: 512px;
        letter-spacing: normal;
    }
}

@media screen and (max-width: 900px) {
    .yearsection__content-container {
        margin-top: -20%;
    }
}
@media screen and (max-width: 600px) {
    .yearsection__content-container {
        margin-top: -25%;
    }
}
@media screen and (max-width: 420px) {
    .yearsection__content-container {
        margin-top: -30%;
    }
}
